<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Fiqidev - Sebuah code tulisan isi hati</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>

<body>
  <section class="hero is-primary is-small">
      <div class="hero-body">
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  <h1 class="title"><a class="navbar-item" style="font-size: 2rem;" href="https://fiqidev.github.io">Fiq;dev</a></h1>
              
                  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-end">
                      <a href="/blog" class="navbar-item">Blog</a>
                      <a href="/proyek" class="navbar-item">Proyek</a>
                      <a href="/tentang" class="navbar-item">Tentang</a>
                    </div>
                </div>
            </nav>
        </div>
      </div>
      
  </section>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>